@import url('https://fonts.googleapis.com/css?family=Rubik:wght@400,600&display=swap');

* {
    box-sizing: border-box;

    font-family: 'Rubik', Helvetica, Arial, sans-serif
}
* {
    box-sizing: border-box;
    /*user-select: none;*/
    &:before, &:after {
        box-sizing: border-box;
        /*user-select: none*/
    }
}

html {
    font-size: 10px !important
}

@media only screen and (max-width: 1100px) {
    html {
        font-size: 8px !important
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px !important
    }
}

.kalendar-wrapper {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';

    --main-color: #ec4d3d;
    --weekend-color: #f7f7f7;
    --current-day-color: #7AFFD7;
    --table-cell-border-color: #e5e5e5;
    --odd-cell-border-color: #e5e5e5;
    --hour-row-color: inherit;
    --dark: #212121;
    --lightg: #9e9e9e;
    --card-bgcolor: #04A675;
    --card-color: white;
    --max-hours: 10;
    --previous-events: #c6dafc;
    --previous-text-color: #727d8f;
    --green: #0abc83;
    --red: #ec4d3d;

    &.gstyle {
        --hour-row-color: #212121;
        --main-color: #4285f4;
        --weekend-color: transparent;
        /*--current-day-color: transparent;*/
        --table-cell-border-color: #dadada;
        --odd-cell-border-color: transparent;
        font-family: 'Google Sans', Roboto, -apple-system, BlinkMacSystemFont,
            'Segoe UI', Arial, sans-serif;

        .week-navigator {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            border-bottom: none;
            padding: 20px;
            color: rgba(black, 0.54);

            button {
                color: rgba(black, 0.54);
            }
        }

        .creating-event,
        .created-event {
            background-color: var(--card-bgcolor);
            color: var(--card-color);
            text-shadow: none;

            > * {
                text-shadow: none;
            }

            border-left: none;
            border-radius: 6px;
            opacity: 1;
            border-bottom: solid 1px rgba(0, 0, 0, 0.03);
            font-size: 14px;
            padding: 5px 10px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .creating-event {
            color: var(--main-color);
            background-color: #7AFFD7;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 6px;
            align-items: flex-start;
            .time {
                color: var(--main-color);
                display: flex;
                align-items: center;
            }
        }

        .is-past {
            .creating-event,
            .created-event {
                background-color: var(--previous-events);
                color: var(--previous-text-color);
            }
        }

        .created-event {
            width: 100%;
            &:hover {
                cursor: pointer;
                background-color: var(--main-color);
                * {
                    color: #fff;
                }
            }
        }

        .sticky-top .days {
            margin-left: 0;
            padding-left: 55px;
        }

        .all-day {
            display: none;
        }

        ul.building-blocks.day-1 li.is-an-hour::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: -10px;
            width: 10px;
            height: 1px;
            background-color: var(--table-cell-border-color);
        }

        ul.building-blocks li,
        .hours {
            border-right: solid 1px var(--table-cell-border-color);
        }

        .hour-indicator-line > span.line {
            height: 2px;
            background-color: #db4437;

            &:before {
                content: '';
                width: 12px;
                height: 12px;
                display: block;
                background-color: #db4437;
                position: absolute;
                top: -1px;
                left: 0;
                border-radius: 100%;
            }
        }

        .days {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 55px;
                left: 0;
                bottom: 0;
                // background-color: var(--table-cell-border-color);
            }
        }

        .day-indicator {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--dark);
            font-size: 13px;
            padding-left: 0;
            background: #fff;

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &.is-before {
                color: #757575;
            }

            .number-date {
                margin-left: 0;
                margin-right: 0;
                order: 2;
                font-size: 18px;
                font-weight: 600;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                align-items: center;
                justify-content: center;
                display: flex;
                margin-top: 4px;
            }

            &.today {
                border-bottom-color: var(--table-cell-border-color);

                &:after {
                    display: none;
                }

                .number-date {
                    background-color: var(--main-color);
                    color: white;
                }
            }

            .letters-date {
                margin-left: 0px;
                margin-right: 0px;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 11px;
            }

            &:first-child {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: -1px;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    // background-color: var(--table-cell-border-color);
                }
            }
        }

        .creating-event {
            border-radius: 10px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            transition: opacity 100ms linear;
        }
        .popup-wrapper {
            width: 400px;
            min-height: 116px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            transition: opacity 100ms linear;
        }
    }

    &.non-desktop .building-blocks {
        pointer-events: none;
    }

    &.day-view {
        .day-indicator {
            align-items: flex-start;
            text-align: center;
            padding-left: 10px;
        }
    }
}

.creating-event,
.created-event {
    padding: 4px 6px;
    cursor: default;
    word-break: break-word;
    height: 100%;
    width: 100%;
    font-size: 14px;

    h4 {
        font-weight: 400;
    }
}

.creating-event {
    background-color: #34aadc;
    opacity: 0.9;

    > * {
        text-shadow: 0 0 7px rgba(black, 0.25);
    }
}

.created-event {
    background-color: #bfecff;
    opacity: 0.74;
    border-left: solid 3px #34aadc;
    color: #1f6570;
}

.week-navigator {
    display: flex;
    align-items: center;
    background: linear-gradient(#fdfdfd, #f9f9f9);
    border-bottom: solid 1px #ec4d3d;
    padding: 10px 20px;

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22px;

        span {
            white-space: nowrap;
            line-height: 1.6;
            color: #333333;
        }
    }

    button {
        background: transparent;
        border: none;
        display: inline-flex;
        margin: 0 10px;
        color: #ec4d3d;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        padding: 0;
    }
}

.kalendar-wrapper {
    background-color: white;
    min-width: 300px;
}

.no-scroll {
    overflow-y: hidden;
    max-height: 100%;
}

.hour-indicator-line {
    position: absolute;
    z-index: 10;
    width: 106%;
    height: 10px;
    display: flex;
    align-items: center;
    pointer-events: none;
    user-select: none;

    margin: 0 0 0 -10px;

    > span.line {
        background-color: var(--main-color);
        height: 1px;
        display: block;
        flex: 1;
    }

    > span.time-value {
        font-size: 14px;
        width: 48px;
        color: var(--main-color);
        font-weight: 600;
        background-color: white;
    }
}

.hour-indicator-tooltip {
    position: absolute;
    z-index: 0;
    background-color: var(--main-color);
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100%;
    pointer-events: none;
    user-select: none;
}

ul.kalendar-day li.kalendar-cell:last-child {
    display: none;
}

.week-navigator-button {
    outline: 0;
    &:hover,
    &:active {
        svg {
            stroke: var(--main-color);
        }
    }
    .gstyle & {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-color);
        border-radius: 100%;
        transition: all .2s;
        svg {
            position: relative;
            left: 1px;
            stroke: var(--main-color);
        }
        &:hover {
            border: 2px solid #fff;
            background: var(--main-color);
            svg {
                stroke: #fff;
            }
        }
    }
}
.kalendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-button {
    padding: 11px 42px;
    background: #2089FF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    color: #fff;

    &:active {
        box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    }
    &.--gray {
        background: var(--green);
    }
    &.--red {
        background: var(--red);
    }
}

.button-today {
    margin: 0 20px 0 0;
}

