* {
  box-sizing: border-box;
}

.kalendar-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 1440px;

  --main-color: #EC4D3D;
  --weekend-color: #F7F7F7;
  --current-day-color: #FEF4F4;
  --table-cell-border-color: #e5e5e5;
  --odd-cell-border-color: #e5e5e5;
  --hour-row-color: inherit;
  --dark: #212121;
  --lightg: #9e9e9e;
  --card-bgcolor: #4285f4;
  --card-color: white;
  --max-hours: 10;
  --previous-events: #c6dafc;
  --previous-text-color: #727d8f;

  &.gstyle {
    --hour-row-color: #212121;
    --main-color: #4285f4;
    --weekend-color: transparent;
    --current-day-color: transparent;
    --table-cell-border-color: #e0e0e0;
    --odd-cell-border-color: transparent;
    font-family: 'Google Sans', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;

    .week-navigator {
      background: white;
      border-bottom: none;
      padding: 20px;
      color: rgba(black, .54);

      button {
        color: rgba(black, .54);
      }
    }

    .creating-event,
    .created-event {
      background-color: var(--card-bgcolor);
      color: var(--card-color);
      text-shadow: none;

      >* {
        text-shadow: none;
      }

      border-left: none;
      border-radius: 2px;
      opacity: 1;
      border-bottom: solid 1px rgba(0, 0, 0, .03);
    }

    .is-past {

      .creating-event,
      .created-event {
        background-color: var(--previous-events);
        color: var(--previous-text-color);
      }
    }

    .created-event {
      width: 96%;

      .time {
        right: 12px;
      }
    }

    .sticky-top .days {
      margin-left: 0;
      padding-left: 55px;
    }

    .all-day {
      display: none;
    }

    ul.building-blocks.day-1 li.is-an-hour::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: -10px;
      width: 10px;
      height: 1px;
      background-color: var(--table-cell-border-color);
    }

    ul.building-blocks li,
    .hours {
      border-right: solid 1px var(--table-cell-border-color);
    }

    .hours li {
      font-size: 80%;
    }

    .hour-indicator-line>span.line {
      height: 2px;
      background-color: #db4437;

      &:before {
        content: '';
        width: 12px;
        height: 12px;
        display: block;
        background-color: #db4437;
        position: absolute;
        top: -1px;
        left: 0;
        border-radius: 100%;
      }
    }

    .days {
      border-top: solid 1px var(--table-cell-border-color);
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 55px;
        left: 0;
        bottom: 0;
        background-color: var(--table-cell-border-color);
      }
    }

    .day-indicator {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--dark);
      font-size: 13px;
      padding-left: 0px;
      border-right: solid 1px var(--table-cell-border-color);

      >div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &.is-before {
        color: #757575;
      }

      .number-date {
        margin-left: 0px;
        margin-right: 0px;
        order: 2;
        font-size: 25px;
        font-weight: 500;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 4px;
      }

      &.today {
        border-bottom-color: var(--table-cell-border-color);

        &:after {
          display: none;
        }

        .number-date {
          background-color: var(--main-color);
          color: white;
        }
      }


      .letters-date {
        margin-left: 0px;
        margin-right: 0px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 11px;
      }

      &:first-child {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: -1px;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: var(--table-cell-border-color);
        }
      }
    }

    .creating-event,
    .popup-wrapper {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      transition: opacity 100ms linear;
    }
  }

  &.non-desktop .building-blocks {
    pointer-events: none;
  }

  &.day-view {
    .day-indicator {
      align-items: flex-start;
      text-align: center;
      padding-left: 10px;
    }
  }
}


.creating-event,
.created-event {
  padding: 4px 6px;
  cursor: default;
  word-break: break-word;
  height: 100%;
  width: 100%;
  font-size: 14px;

  h4 {
    font-weight: 400;
  }
}

.creating-event {
  background-color: #34aadc;
  opacity: .9;

  >* {
    text-shadow: 0 0 7px rgba(black, .25);
  }
}

.created-event {
  background-color: #bfecff;
  opacity: .74;
  border-left: solid 3px #34aadc;
  color: #1F6570;
}

.week-navigator {
  display: flex;
  align-items: center;
  background: linear-gradient(#fdfdfd, #f9f9f9);
  border-bottom: solid 1px #EC4D3D;
  padding: 10px 20px;

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    width: 25ch;
    max-width: 30ch;
    margin: 0 auto;

    span {
      white-space: nowrap;
    }
  }

  button {
    background: transparent;
    border: none;
    padding: 0px;
    display: inline-flex;
    margin: 0px 10px;
    color: #EC4D3D;
    align-items: center;
    font-size: 14px;
    padding-bottom: 5px;
  }
}

.kalendar-wrapper {
  background-color: white;
  min-width: 300px;
}

.no-scroll {
  overflow-y: hidden;
  max-height: 100%;
}

.hour-indicator-line {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  pointer-events: none;
  user-select: none;

  >span.line {
    background-color: var(--main-color);
    height: 1px;
    display: block;
    flex: 1;
  }

  >span.time-value {
    font-size: 14px;
    width: 48px;
    color: var(--main-color);
    font-weight: 600;
    background-color: white;
  }
}

.hour-indicator-tooltip {
  position: absolute;
  z-index: 0;
  background-color: var(--main-color);
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  pointer-events: none;
  user-select: none;
}

ul.kalendar-day li.kalendar-cell:last-child {
  display: none;
}

.week-navigator-button {
  outline: 0;
  &:hover, &:active {
    svg {
      stroke: var(--main-color);
    }
  }
}