* {
  box-sizing: border-box;
}

.calendarium {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --main-color: #EC4D3D;
  --weekend-color: #F7F7F7;
  --current-day-color: #FEF4F4;
  --table-cell-border-color: #e5e5e5;
  --odd-cell-border-color: #e5e5e5;
  --hour-row-color: inherit;
  --dark: #212121;
  --lightg: #9e9e9e;
  &.gstyle {
    --hour-row-color: #212121;
    --main-color: #4285f4;
    --weekend-color: transparent;
    --current-day-color: rgba(0, 0, 0, .04);
    --table-cell-border-color: #e0e0e0;
    --odd-cell-border-color: transparent;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    .week-navigator {
      background: white;
      border-bottom: none;
      padding: 20px;
      color: rgba(black, .54);
      button {
        color: rgba(black, .54);
      }
    }
    .new-event,
    .existing-event {
      background-color: #c6dafc;
      color: rgba(black, .38);
      text-shadow: none;
      >* {
        text-shadow: none;
      }
      border-left: none;
      border-radius: 2px;
      opacity: 1;
    }
    .existing-event {
      width: 96%;
      .time {
        right: 12px;
      }
    }
    .sticky-top .days {
      margin-left: 0;
      padding-left: 50px;
    }
    .all-day {
      display: none;
    }
    ul.building-blocks li,
    .hours {
      border-right: solid 1px var(--table-cell-border-color);
    }
    .hours li {
      font-size: 80%;
    }
    .hour-indicator-line>span.line {
      height: 2px;
      background-color: #db4437;
    }
    .days {
      border-top: solid 1px var(--table-cell-border-color);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 50px;
        left: 0;
        bottom: 0;
        background-color: var(--table-cell-border-color);
      }
    }
    .day-indicator {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: var(--dark);
      font-size: 13px;
      padding-left: 16px;
      border-right: solid 1px var(--table-cell-border-color);
      &.is-before {
        color: #757575;
      }
      .number-date {
        order: 2;
        font-size: 40px;
      }
      .letters-date {
        font-weight: 500;
      }
      &:first-child {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: var(--table-cell-border-color);
        }
      }
    }
  }
}

.new-event,
.existing-event {
  padding: 4px 6px;
  cursor: default;
  word-break: break-word;
  height: 100%;
  width: 100%;
  font-size: 14px;
  h4 {
    font-weight: 400;
  }
}

.new-event {
  background-color: #34aadc;
  opacity: .9;
  >* {
    text-shadow: 0 0 7px rgba(black, .25);
  }
}

.existing-event {
  background-color: #bfecff;
  opacity: .74;
  border-left: solid 3px #34aadc;
  color: #1F6570;
}

.week-navigator {
  display: flex;
  align-items: center;
  background: linear-gradient(#fdfdfd, #f9f9f9);
  border-bottom: solid 1px #EC4D3D;
  padding: 10px 20px;
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    width: 25ch;
    max-width: 30ch;
    margin: 0 auto;
  }
  button {
    background: transparent;
    border: none;
    padding: 0px;
    display: inline-flex;
    margin: 0px 10px;
    color: #EC4D3D;
    align-items: center;
    font-size: 14px;
    padding-bottom: 5px;
  }
  .chevron::before {
    border-style: solid;
    border-width: 0.11em 0.11em 0 0;
    content: '';
    display: inline-block;
    height: 0.60em;
    position: relative;
    top: 0.15em;
    left: 0;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.60em;
  }
  .chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}

.wrapping-all {
  background-color: white;
  min-width: 600px;
}

.no-scroll {
  overflow-y: hidden;
  max-height: 100%;
}

.hour-indicator-line {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  pointer-events: none;
  user-select: none;
  >span.line {
    background-color: var(--main-color);
    height: 1px;
    display: block;
    flex: 1;
  }
  >span.time-value {
    font-size: 14px;
    width: 48px;
    color: var(--main-color);
    font-weight: 600;
    background-color: white;
  }
}

.hour-indicator-tooltip {
  position: absolute;
  z-index: 0;
  background-color: var(--main-color);
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  pointer-events: none;
  user-select: none;
}

//week-view

$blue: #5FB3F2;
$lblue: #D6EEFC;
$dblue: #3D79B4;
$lightgrey: #c7c9d5; //$lightgrey: #F5F4F5;
$grey: #c7c9d5; //#C1C4C8;
$a-grey: #666;
$border-color: transparent;
$theme-color: #e5e5e5;

.calendar-wrap {
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
    padding: 0px;
    >li {
      display: flex;
    }
  }
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  .days {
    margin: 0px;
    display: flex;
    margin-left: 50px;
    li {
      display: inline-flex;
      align-items: flex-end;
      padding-top: 10px;
      flex: 1;
      font-size: 1.1rem;
      color: $a-grey;
      font-weight: 300;
      margin-right: var(--space-between-cols);
      border-bottom: solid 1px #e5e5e5;
      padding-bottom: 5px;
      position: relative;
      font-size: 18px;
      span {
        margin-right: 3px;
      }
      span:first-child {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .today {
      border-bottom-color: var(--main-color);
      color: var(--main-color)!important;
    }
    .today::after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: var(--main-color);
    }
  }
  .all-day {
    display: flex;
    margin-bottom: 0px; //border-top: solid 1px #e5e5e5;
    margin-top: 0px;
    border-bottom: solid 2px #e5e5e5;
    span {
      display: flex;
      align-items: center;
      padding:0px 5px;
      width: 50px;
      font-weight: 500;
      font-size: .8rem;
      color: darken($grey, 5);
      text-transform: lowercase;
    }
    li {
      flex: 1; //border-right: solid 5px $border-color;
      margin-right: var(--space-between-cols);
      &.all-today {
        background-color: #FEF4F4;
      }
    }
  }
}

.dummy-row {
  display: flex;
  padding-left: 50px;
  ul {
    display: flex;
    flex: 1;
    margin: 0px;
  }
  li {
    flex: 1;
    height: 15px; //border-right: solid 5px $border-color;
    margin-right: var(--space-between-cols);
    border-bottom: solid 1px #e5e5e5;
  }
}

.blocks {
  display: flex;
  position: relative;
  height: 100%;
  ul {
    margin-top: 0px;
  }
  .building-blocks {
    flex: 1;
    margin-right: var(--space-between-cols);
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }
  .calendar-blocks {
    width: 100%;
    display: flex;
    position: relative;
  }
}

.hours {
  display: flex;
  flex-direction: column;
  color: darken($grey, 5);
  font-weight: 500;
  font-size: .85rem;
  width: 50px;
  height: 100%;
  margin-bottom: 0px;
  li {
    color: var(--hour-row-color);
    border-bottom: solid 1px $border-color;
    padding-left: 8px;
    span {
      margin-top: -10px;
    }
    &:first-child span {
      visibility: hidden;
    }
  }
}


// cell

$creator-bg: #34aadc;
$creator-content: white;

li {
  font-size: 13px;
  position: relative;
}

ul.building-blocks {
  li {
    z-index: 0;
    border-bottom: dotted 1px var(--odd-cell-border-color);
    &.first_of_appointment {
      z-index: 1;
      opacity: 1; //z-index:0;
    }
    &.is-an-hour {
      border-bottom: solid 1px var(--table-cell-border-color);
    }
    .creator_block {
      display: none; //opacity: .85;
    }
    &.first_of_appointment.last_of_appointment .new-event {
      font-size: 80%;
      .time {
        opacity: 0;
      }
    }
    &.first_of_appointment .creator_block {
      display: flex;
      flex-direction: column;
      >* {
        flex: 1;
      }
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; //z-index: 20!important;
      //background-color: rgba($creator-bg, .85);
      color: $creator-content;
      width: 100%;
      user-select: none;
      will-change: height; //padding: 4px 6px;
    }
    .time {
      position: absolute;
      bottom: 4px;
      right: 6px;
      font-size: 11px;
    }
  }
  .popup-parent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    pointer-events: auto;
    z-index: 3;
    left: 0px;
    user-select: all;
    >div {
      position: relative;
      width: 100%;
      height: 100%; // margin-left: 10px;
    }
  }
}


div.creator_block {
  h4,
  p,
  span {
    margin: 0px;
  }
}

// popup-wrapper

.popup-wrapper {
  text-shadow: none;
  color: black;
  z-index: 10;
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  display: flex;
  flex-direction: column;
  user-select: none;
  background-color: white;
  border: solid 1px rgba(black, .08);
  border-radius: 4px;
  box-shadow: 0px 2px 12px -3px rgba(black, .3);
  padding: 10px;
  h4 {
    color: black;
    font-weight: 400;
  }
  input,
  textarea {
    border: none;
    background-color: darken(white, 8);
    color: lighten(black, 1);
    border-radius: 4px;
    padding: 5px 8px;
    margin-bottom: 5px;
  }
}
ul:last-child .popup-wrapper {
  left: auto;
  right: 100%;
  margin-right: 10px;
}
.is-day-view .popup-wrapper {
  left: auto;
  right: auto;
}

//kalendar- day

ul.kalendar-day {
  position: relative;
  background-color: white;
  &.is-weekend {
    background-color: var(--weekend-color);
  }
  &.is-today {
    background-color: var(--current-day-color);
  }
  .clear {
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 0;
    font-size: 10px;
  }
  .creating {
    z-index: 3;
  }
}